node_modules
dist
logs
metrics

bpmn-elements_contracts
bpmn-js-bpmnlint
bpmn-lint_rules
bpmn-lint_plugin
bpmn-io_custom-bundle
bpmn-studio

solutionexplorer.contracts
solutionexplorer.service.contracts
solutionexplorer.repository.contracts
solutionexplorer.service
solutionexplorer.repository.filesystem
solutionexplorer.repository.management_api

dynamic_ui_contracts
dynamic_ui_core
dynamic_ui_http

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/

