node_modules
dist
logs
metrics

bpmn-elements_contracts
bpmn-js-bpmnlint
bpmn-lint_rules
bpmn-lint_plugin
bpmn-io_custom-bundle
bpmn-studio

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/

